* {
	position: relative;
	text-align: center;

}


.pre-title {
	padding: 30px 0px 10px 0px;
	font-size: 30px;

}

.title {
	font-size: 80px;
	padding: 10px 0px 10px 0px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.author {

	font-size: 40px;
	display: inline-block;
	margin: 0 30px 0 30px;
	padding: 10px 0 10px 0;
}

.photo-book {
	display: inline-block;
	width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
	border: 1px solid transparent;

	text-align: center;

}

.photo-book img {

	display: block;
	margin-left: auto;
    margin-right: auto;
	width: auto;
	width: 90%;
    height: 100%;
    padding: 10px;

} 
   
.details-book {
	width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 10px 10px 10px;


	list-style: none;
	line-height: 40px;
    font-size: 20px;
}

.buy-book {
	color: #708090;
	font-size: 15px;
}

.description-book {
	width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 30px;

    font-size: 30px;

    text-align: justify;

}

.separate-book {
	width: auto;
    height: auto;
    margin: 0 auto;
    padding: 30px;

    font-size: 30px;

    text-align: center;

}